



<!--<nav>
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul>
</nav> --> 

<nav id="animateme">

    <ul class="navbar">
        <li class="current-menu-item"><a href="#">Home</a></li>
        <li><a href="#">Custom</a></li>
        <li><a href="#">Sedan</a></li>
        <li><a href="#">SUV</a></li>
        <li><a href="#">Truck</a></li> 
    </ul>

</nav>

