

<h1>Welcome to CSE Motors!</h1>

<picture>
    <source media="(max-width: 940px)" srcset="/public/images/vehicles/delorean-tn.jpg">
    <source media="(max-width: 960px)" srcset="/public/images/vehicles/delorean.jpg">
    <img src="/public/images/vehicles/delorean-tn.jpg" alt="Delorean Vehicle">

</picture>



<div class="grid">
    <section class="card">
        <h2>Delorean Upgrades</h2>

        <div id="container"> 
            <div class="it it1">1</div>
            <a href="#" id="P1">Flux Capacitator</a>
            <div class="it it2">2</div>
            <a href="#" id="P2">Flame Decals</a>
            <div class="it it3">3</div>
            <a href="#" id="P3">Bumper Stickers</a>
            <div class="it it4">4</div>
            <a href="#" id="P4">Hub Caps</a>
        </div>
        

    </section>
    <section class="card dos">
        <h2>DMC Delorean Reviews</h2>

        <ul>
        <li>"So fast it's almost like traveling in time (4/5)"</li>
        <li>"Coolest ride on the road" (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's livin and I love it" (5/5)</li>
        </ul>
       
    </section>

</div>
