/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
} 
*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Site Size*/

 

/* Navigation Stuff*/ 

.grid { /* Eliminar*/
  display: block;
  /*grid-template-columns: 2fr 1fr; */
} /* Eliminar*/

nav ul { /* Eliminar  . bar */ 
  display: flex;
  flex-direction: row;
  padding: 0px; 
  width: 100%;
}  /* Eliminar*/

nav li { /* Eliminar  . bar */
  flex: 1 1 100% ;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: rgb(42, 98, 154);
}

nav {
  grid-template-rows: 1fr;
}


nav a {  /* Eliminar  . bar */
  color: #fff;
  text-decoration: none;
  padding: 13px;
  display: block;
  text-align: center;
}

nav a:hover {  /* Eliminar  . bar */
  background-color: rgb(9, 44, 78);
  
}

/* Navigation Stuff*/ 

.siteName a {
  font-size: 2.5rem;
  text-decoration: none; 
}

#tools a {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 2px;
   
}

#top-header {
  padding: 5px;
  position: relative;

}

/* BODY Stuff*/ 

.card ul li{
  padding: 15px;
}

.card{
   
  margin: 10px;
}

.card .dos2 h2{
  justify-content: center;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr .51fr;
  
}

#container a{
  text-align: center;
}

.it {
  padding: 1em;
  border: solid rgb(16, 87, 121);
  margin: 5px;

}

.it3{
  
  grid-row-start: 3;
  grid-row-end: 4;

}

.it4{
  
  grid-row-start: 3;
  grid-row-end: 4; 

}

#P1{
  
  grid-row-start: 2;
  grid-row-end: 3;

}

h1{
  color: rgb(9, 44, 78) ;
}



.hero img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  max-width: 100%;
  height: auto;
}

.hero span{
  position: absolute;
  bottom: 40%;
  width: 20%;
  left: 10px;
  background: rgba(221, 220, 220, 0.873);
  /*padding: 1rem;*/ 
  text-align: center;
  margin: 60px;
  font-size: smaller;
}

.hero button{
  background-color: rgb(9, 44, 78) ;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.hero button:hover{
  background-color: goldenrod;
}

#container .it img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#container .it{
  background-color: rgb(42, 98, 154);
} 

/*  INV DISPLAY STUFF */

#inv-display{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 20px ;
  
  
   

}

#inv-display li{
  border: solid  rgb(42, 98, 154);
  border-radius: 5px;
  place-items: center;

}

#inv-display li hr{
  display: none;
  
}

#inv-display li::marker{
  content: none;
  
}

.namePrice {
  text-align: center;

}


#inv-display li img{
  display: block;
  margin: 0 auto;
 
  
}


/* Details Stuff*/

#details-container{
  display: grid;
  grid-template-columns: 1fr;

}

.image-container img{
  width: 70%;
  display: block;
  margin: 0 auto;

}

.details-label {
  text-decoration: solid;
  color: rgb(0, 0, 0);
  font-size:larger;
  font-weight: bolder;
  
}

#vehicle-details table td{
  padding: 10px;
}

#vehicle-details table tr:nth-child(even){
  background-color: rgb(224, 236, 236);
}






@media only screen and (min-width: 700px) {
  .grid { /* Eliminar*/
    display: grid;
    grid-template-columns: 1fr 1fr;
  } /* Eliminar*/
  
  nav { /* Eliminar  . bar*/
    display: flex;
    flex-direction: row;
    padding: 0px; 
  }  /* Eliminar*/

  nav li { /* Eliminar  . bar*/
    flex: 1 1 100% ;
  }

  .hero span {
    font-size: larger;
  }

  #inv-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  
  }

  #details-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }

}

   

