<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <div>
      <div class="mgmt">
        <a class="mgmt-link" href="/inv/add-classification">Add New Classification</a>
        <a class="mgmt-link" href="/inv/add-inventory">Add New Vehicle</a>
      </div>
    </div>
    <h2 class="mgmt-header">Manage Inventory</h2>
        <div class="mgmt-card">
          
          <p class="mgmt-label">Select a classification:</p>
          <%- classificationSelect %>
          <table id="inventoryDisplay"></table>
        </div>
        <noscript>JavaScript must be enabled to use this page.</noscript>
    </div>

    <script src="../../js/inventory.js"></script>

